[2010-07-30 19:49] h0jeZvgoxFepBQ2C opened #1 "Gem-spec file?"
Could you provide a gemspec file for installing it via rubygems?
Thx

[2010-08-26 18:38] rtomsmith opened #2 "Question: will this work with other plugins with a similar implementation?"
I guess I'm wondering if this will break if I include another AR plugin with a similar design? You are playing with default_scope and unscoped. For example if my other plugin also has its own default_scope, and I do a with_deleted operation, will the other plugin's default_scope (and/or any standard default_scope declaration) be defeated since with_deleted uses unscoped?

[2010-08-30 15:00] sumangurung opened #3 "recover and after_destroy callbacks do not seem to work"
I was using this plugin with my rails3 app on ruby 1.9.2 and found that recovering a deleted record and after_destroy callback are not working.

[2010-09-03 16:50] goncalossilva commented on #2
Unfortunately, there will be trouble if this is used in conjunction with another plugin/gem which also uses default_scope.

Please avoid this situation.

[2010-09-03 16:50] #2 closed, assigned to nobody

[2010-09-03 16:51] goncalossilva commented on #3
Could you please provide more details?

Rails 3 stable or one of the beta/rc? Which version? What about your model: how was acts_as_paranoid called?

[2010-09-03 19:20] sumangurung commented on #3
With the rc and the stable.
In the model, i have
class SomeClass < ActiveResource::Base
  acts_as_paranoid
  after_destroy :some_method
  def some_method
    puts "test"
  end
end

In your destroy method, you should do something like this

def destroy
  _run_destroy_callbacks do
     whatever_you_have_in_your_current_destroy_method_goes_here
  end
end

Hope this helps.

[2010-09-03 19:24] sumangurung commented on #3
Oh and the you cannot do the update_attributes on the recover method because of the default scope.

[2010-09-11 00:43] goncalossilva commented on #3
I've just merge Juan Pemberthy's changes which address this issue. It should be fixed.

Sorry for taking so long—I wasn't able to find some time to address this myself.

Thank you for reporting this issue.

[2010-09-11 00:43] #3 closed, assigned to nobody

[2010-09-12 01:36] mdesantis commented on #1
I quote... this plugin is worthy of a gem!

[2010-09-12 17:11] h0jeZvgoxFepBQ2C commented on #1
Added gemspec... Look at http://github.com/goncalossilva/rails3_acts_as_paranoid/issues#issue/5

[2010-09-13 00:11] #1 closed, assigned to nobody

[2010-09-17 12:14] goncalossilva commented on #1
Just added a gemspec. You can also install the gem through rubyggems: http://rubygems.org/gems/rails3_acts_as_paranoid

Just "gem install rails3_acts_as_paranoid" :)

[2010-11-10 19:01] cheerfulstoic opened #9 "#with_deleted very slow"
I'm running Rails 3.0.1 and on some of my large table I noticed some slowness when using #with_deleted.  I do the following to show the queries that are being executed:

[code]

And when I use #with_deleted I see it selecting \* from every row in the table before moving onto the real query.  I think this has to do with the following change:

https://github.com/goncalossilva/rails3_acts_as_paranoid

[2010-11-11 00:28] goncalossilva commented on #9
Just reverted that change. All tests are passing. Thanks for noticing the performance regression.

[2010-11-11 00:28] #9 closed, assigned to nobody

[2011-01-24 20:43] hoblin opened #15 "has_many :through"
I have models Client, User and ClientUser with following associations:
https://gist.github.com/793920

[code]

As you see, deleted_at field not affect on has_many :through association

[2011-02-21 16:23] goncalossilva commented on #15
This is a "bug" on Rails itself. I could reproduced it with 3.0.4 but it has been fixed in master.

A related bug report is here: https://rails.lighthouseapp.com/projects/8994/tickets/3610-has_many-through-associations-may-not-respect-default_scope-conditions

A future Rails release will bring a fix for this, so I'll close this issue for now. Thanks for reporting it.

[2011-02-21 16:23] #15 closed, assigned to nobody

[2011-04-06 09:03] corroded opened #19 "Ruby 1.9 problems?"
Are you using any US-ASCII character in your code or comments? We got an invalid byte sequence in US-ASCII (ArgumentError) while trying to install this in an EngineYard server(confirmed this by commenting out rails3-acts-as-paranoid from Gemfile)

It seems that EngineYard is not(or IS) using UTF8(dunno about locales that much to understand the problem) but it seems you are using an invalid charact

[2011-04-07 00:26] goncalossilva commented on #19
No, there is no special characters in the code/comments. Are you using them in your application?

[2011-04-07 03:49] corroded commented on #19
heya we found out what was causing the trouble. it was the coding = utf8, and your name apparently: s.authors = ["Gonçalo Silva"] in the gemspec. we forked it and used a normal character for the c if you don't mind. i do suggest you use the normal 'c' so your code can be compatible with some 1.9 versions(im not sure which ruby 1.9 engine yard is using). i do understand if you don't want to change

[2011-04-07 15:50] goncalossilva commented on #19
Strange... the "# coding: UTF-8" is specifically there to prevent Ruby from failing to parse the "ç". Could you change it to "# encoding: utf-8" and give it a try?

[2011-04-08 11:07] jeromelefeuvre opened #20 "Please create tag of your different versions"
please it's more easy to use different version of your plugin if new version create bugs on our project.

thanks again !

[2011-04-08 17:45] goncalossilva commented on #20
Yes, my bad — sorry. I'll start using tags from now on.

Did you find any new bug?

[2011-04-17 18:23] omricohen opened #21 "Inherited models dont inherit acts_as_paranoid properly"
Say I have a model:

[code]

and another

[code]

When I try to do a Photo.destroy it fails on the command Photo.paranoid_column. I tried adding acts_as_paranoid to the Photo class as well, but it still errors out. The only way I could get Photo to have acts_as_paranoid working was removing it from the attachment model and only including it in the Photo model. Let me know if you need any more info

[2011-04-18 20:39] jtadeulopes commented on #19
This fork fixed it https://github.com/stalcottsmith/rails3_acts_as_paranoid

[2011-04-19 21:38] goncalossilva commented on #19
That fork didn't fix anything, just removed the "culprit" character :)

As I've said, I was unable to reproduce this error. Which ruby version are you using? Did you try my suggestion in the other comment?

[2011-04-19 22:18] goncalossilva commented on #21
Thank you for reporting this bug! Yes, I've just noticed class instance variables weren't being set on inherited paranoid classes.

Please test the latest version (0.0.7) and let me know if you find any problems. Please note that you'll need to call "acts_as_paranoid" from the subclasses as well. I'll try to avoid that in a future release, but for now it's the way to go.

[2011-04-19 23:22] jtadeulopes commented on #19
ruby 1.9.2p136 (2010-12-25 revision 30365) [i686-linux]
Rails 3.0.6
rubygem 1.3.7

It's only in ubuntu server, not in my macbook and other in my work =/

[2011-04-19 23:34] goncalossilva commented on #19
Thanks! I'll try and figure out what's going on.

[2011-04-24 03:25] goncalossilva commented on #19
I've just tested it with 1.9.2-p136 and still wasn't able to reproduce this. Is it possible for you to update to p180 and give it try?

[2011-05-04 08:33] rahul100885 opened #24 "Association condition is not getting picked up"
Acts_as_paranoid is not picking association model condition,
e.g

Now as we see when I use with_deleted it is not passing objects condition to comment.

object.comments.where pass condition (comments.deleted_at IS NULL) AND ("comments".commentable_id = 2 AND "comments".commentable_type = 'Opportunity') like object.comments.with_deleted.where should pass

[2011-05-16 19:00] jmoses commented on #24
It's because the with_deleted does unscoped, which yanks _any_ scopes, including relation scopes.  I'll probably make a pull request for this.  It's annoying.

[2011-05-23 15:38] freddy commented on #19
I've got the same issue on :
ruby 1.9.2p180 (2011-02-18 revision 30909) x86_64-linux
using RVM

Thanks

[2011-05-23 15:49] goncalossilva commented on #19
Could you test with master and see if it's fixed?

[2011-05-24 14:28] freddy commented on #19
Still bugged, I switched to paranoia, thanks anyway!

[2011-05-25 17:39] goncalossilva commented on #21
It's been 1 month since the last reply. Closing the issue.

[2011-05-25 17:39] #21 closed, assigned to nobody

[2011-05-25 17:40] #20 closed, assigned to nobody

[2011-05-25 17:49] goncalossilva commented on #19
Changed the magic comment to the variant used in Bundler by default. Does it fix this? I should be able to reproduce this (though I'm not).

[2011-06-06 22:30] tomoyuki28jp commented on #24
I think I am facing the same issue. `current_user.messages.with_deleted` returns messages whose owner isn't the current user. It's annoying.

[2011-06-21 22:10] sagmor commented on #19
Technically is a RubyGems problem.
The problem occurs when the server's locale is not set to Unicode, check this issue: https://github.com/siefca/i18n-inflector/issues/3

[2011-07-04 21:53] leisun opened #27 "Could you please support boolean with default set to false, rather than NULL?"
Hi,

I noticed that you have the following lines:

default_scope where("#{paranoid_column_reference} IS ?", nil) # Magic!

and

def only_deleted
  self.unscoped.where("#{paranoid_column_reference} IS NOT ?", nil)
end

This would work ok for relatively smaller table, but not a huge one, where I would add index for is_deleted field.

Could you please add the support for is_deleted field and assuming

[2011-07-06 19:35] silasb opened #29 "Still getting destroyed for nested-attributes?"
I have a parent model call Member which has many memberhips.  I am not using dependent => :destroy but when I using nested-attributes by assigning:

[code]

It will still do a hard destroy.  Is there something that I am doing wrong?

I'm running 1.9.2-p180 with RoR 3.0.9

[2011-08-15 23:52] #19 closed, assigned to nobody

[2011-08-16 00:00] goncalossilva commented on #24
This is the same issue, right? https://rails.lighthouseapp.com/projects/8994/tickets/5909-unscoped-on-a-relation-removes-where-clause-for-relation-from-scope

If you want a quick fix, you can use:

[code]

[2011-08-16 00:03] goncalossilva commented on #29
Could you post a more elaborate example? Please test the latest version from master and check if this is still happening.

[2011-09-03 11:46] goncalossilva commented on #29
I'm closing this issue. Please test the latest version and see if this error is still there (I believe it isn't). If it is, reopen this issue. Thanks.

[2011-09-03 11:46] #29 closed, assigned to nobody

[2011-09-03 11:48] goncalossilva commented on #24
I'm inclined to say that this is a Rails issue (link above), so I'm closing this for now... if you need a solution, check my code snippet on the above comment.

[2011-09-03 11:48] #24 closed, assigned to nobody

[2011-09-03 11:50] goncalossilva opened #36 "There should be a only_not_deleted scope"
This would substitute `unscoped()` on paranoid models.

[2011-09-21 12:35] lypanov opened #40 "custom uniqueness validators broken with rails 3.1"
NoMethodError (undefined method `mount_sql_and_params' for #ParanoidValidations:UniquenessWithoutDeletedValidator:0x11e79418):

[2011-09-24 03:26] goncalossilva commented on #40
Maybe @gravelpup could take a look at this? He is the author of the paranoid validators.

[2011-09-28 11:03] retmanski opened #43 "Use Railties for initializing plugin"
We use this plugin with Rails 3.1 but due to the way the plugin initializes itself we get an error whilst running the 'rake assets:precompile' task on deployment to Heroku.

Essentially the plugin forces ActiveRecord to be loaded during initialization, which in turn forces a database connection to be attempted. This probably doesn't matter that much when deploying elsewhere but Heroku builds a 'sl

[2011-10-03 09:57] goncalossilva commented on #43
Thanks for the suggestion, I'll take a look at this!

[2011-10-03 19:35] tute commented on #40
Method removed from Rails 3.1. Added to an initialiazer and it works: http://apidock.com/rails/ActiveRecord/Validations/UniquenessValidator/mount_sql_and_params

[2011-11-20 00:49] yu-yu opened #45 "For paranoid_column which is not attr_accessible"
I don't want my :deleted_at column to be in attr_accessible columns.
How about this? :)

https://github.com/yu-yu/rails3_acts_as_paranoid/commit/20dad3639b2403780543ff9a692d459e2b773963

[2011-11-20 00:59] goncalossilva commented on #45
Seems good. Could you send a pull request?

[2011-11-20 04:45] yu-yu commented on #45
I'm glad.

I'm afraid I don't have any email address I can use for a git commit in public.
so,,, could you create a commit to do this change?

[2011-11-20 18:52] #45 closed, assigned to nobody

[2011-11-20 18:52] goncalossilva commented on #45
Thanks.

[2011-11-21 01:56] yu-yu commented on #45
Thank you, too.

[2011-12-14 22:52] ticketevo opened #47 "ActiveRecord updates stalling"
tl;dr - We add acts as paranoid. Its doing soft deletes correctly, but updates with models with many associations are taking a long time or stalling.

We are working with a data model with many nested level associations -- a person has many dogs, dogs has many toys, toys has many properties, etc. Each of these models has acts_as_paranoid setup correctly on themselves.

When we have a person that h

[2012-01-08 09:25] leonid-shevtsov opened #50 "with_deleted does not cooperate with scopes"
Let's say we have a model

[code]

Then

[code]

produces only undeleted articles, and

[code]

produces all articles, including deleted ones, but without any ordering.

This is expectable since `with_deleted` is basically an alias to `unscoped`, but it's not the right nor the obvious way how this scope should work.

[2012-01-12 09:46] jugyo commented on #24
I think your code will not work.
It seems that the with_deleted does not handle the block.

[2012-03-08 05:30] goncalossilva commented on #50
It does now! Please check the "rails3.2" branch.

[2012-03-08 05:30] #50 closed, assigned to nobody

[2012-03-08 05:31] goncalossilva commented on #47
The code has changed a lot since this report. Does it still stall on master?

[2012-03-08 05:32] goncalossilva commented on #40
Thanks for reporting. Fixed on "master", "rails3.1" and "rails3.2".

[2012-03-08 05:32] #40 closed, assigned to nobody

[2012-03-12 10:13] pcreux opened #58 "ActsAsParanoid::Associations should be added to ActiveRecord::Base"
`ActsAsParanoid::Associations` is only added to class acting as paranoid.

To get a non paranoid class to `belong_to :with_deleted => true` you have to include `ActsAsParanoid::Associations`.

[code]

What about including `ActsAsParanoid::Associations` to `ActiveRecord::Base` by default?

[2012-03-15 05:12] chuckg commented on #58
+1 -  there are situations where the model creating an association to a paranoid model is not itself paranoid.

[2012-04-04 15:02] maxime-menant opened #60 "Object fetched with 'select' options can't be used unless the deleted_at field is specified"
I have an issue when I fetch only an attribute subset from my paranoid model using

[code]

on a PostgreSQL DB, which return only an instance with these attributes, and when I try to generate a route for this instance, acts_as_paraonoid break since the column :deteled_at is not present

[code]

Should I had the deleted_at attribute in my select each time ? Or should the core of acts_as_paranoid ch

[2012-04-26 14:56] HoneyryderChuck opened #61 "with_deleted options by associations still a bit buggy"
Hi,

I'm having some issues with the with_deleted option. First, I can't seem to use it in classes that are not paranoid. Well, I think I should do that, because in such cases the association should be paranoid. Something like this:

<pre>
<code>
class NotParanoid < ActiveRecord::Base

# not calling acts_as_paranoid here
:belongs_to :paranoid_object, :with_deleted => true

end
</code>
</pre>

I fo

[2012-04-26 18:50] moottoast opened #62 "ActiveRecord queries with :includes do not respect :with_deleted => true"
I can't see a way around the N+1 problem without using :includes in my Active Record queries. Per the documentation:

[code]

However if the following is called in a controller:

[code]

The log load statement shows a "('paranoiac_parents'.'deleted_at' IS NULL)" in the WHERE clause resulting in `undefined method` errors. I guess I'm forced to avoid using :includes. Is this behavior by design?

[2012-04-27 18:41] chuckg commented on #61
I agree with you on the first point, the `:with_deleted` option should be available for use with `belongs_to` on any class, regardless of it's status as a paranoid object.  This issue is also discussed here:
https://github.com/goncalossilva/rails3_acts_as_paranoid/issues/58

Your example is likely failing with `NoMethodError: undefined method 'paranoid?' for nil:NilClass` because the class, `Paran

[2012-05-01 13:44] HoneyryderChuck commented on #61
<pre>
<code>
<i>
Your example is likely failing with NoMethodError: undefined method 'paranoid?' for nil:NilClass because the class, ParanoidObject, does not exist.
</i>
</code>
</pre>

Well, not exactly the ParanoidObject class, but the association class that comes from the object attribute (which was not set yet). I think what is missing in the tests is the test for when a polymorphic associatio

[2012-05-01 15:43] goncalossilva commented on #61
Regarding the first issue, please test with the master branch. The latest commits should fix it.

@chuckg Mind taking a look at the code?

[2012-05-01 15:43] goncalossilva commented on #58
Please test with master.

[2012-05-01 16:02] chuckg commented on #61
Looks good.

[2012-05-02 07:05] HoneyryderChuck commented on #61
is the version currently in master targeted with a version number, or do I have to explicitly download the gem and bundle it locally? For the latter, when will it be attributed a version number?

[2012-05-03 05:06] goncalossilva commented on #61
To try master out, all you need to do is to specify it in the Gemfile of your app: `gem 'rails3_acts_as_paranoid', :git => 'git://github.com/goncalossilva/rails3_acts_as_paranoid.git'`

[2012-05-24 22:41] halorgium opened #68 "The override of `destroyed?` breaks url generation"
This is a tricky situation.
I want to allow users to access their destroyed resources via the web.

The polymorphic route generation in Rails checks to see if the model is `persisted?`.
But `persisted?` checks if it is not `destroyed?`.

https://github.com/rails/rails/blob/v3.2.3/actionpack/lib/action_dispatch/routing/polymorphic_routes.rb#L107

Maybe it would be best to change `persisted?` to be

[2012-07-01 08:23] vahtel commented on #62
It doesn't work for me also. I don't get undefined method error but it just ignores the "with_deleted" option.
I used a temporary dirty hack to get it working:

@projects = current_user.projects.includes(:users,:stages).where("users.deleted_at IS NOT NULL or users.deleted_at IS NULL")

[2012-07-06 11:48] HoneyryderChuck opened #71 "arel sub calls to "joins" don't insert the condition in the "on" block"
Hi Hi,

I just found a nuisance concerning writing scopes. Lets say I have a Class1, and a Class2 that is paranoid. If somehow I end up writing a scope (or for that matter, just using plain ARel) in the Class1 that joins with Class2, and if instead of writing the SQL myself, I use the symbolic way of writing it, the deleted_at condition doesn't get added. Something like this:

<pre>
<code>
class C

[2012-07-23 22:23] garysweaver opened #72 "column: 'some_column', column_type: 'string', deleted_value: 'some_value' options do not seem to work"
Have a model in Rails 3.2.6, Ruby 1.9.3p194 (2012-04-20 revision 35410) [x86_64-darwin11.4.0] like:

[code]

There are four rows of data in this table and the value in some_column is populated but is not 'some_value'. However, SomeModel.count returns 0 when using latest rails3_acts_as_paranoid 0.2.4. If I comment acts_as_paranoid in the model, then SomeModel.count returns 4.

[2012-07-24 16:36] garysweaver commented on #72
Provided a fix here: https://github.com/goncalossilva/rails3_acts_as_paranoid/pull/73

[2012-07-24 23:12] chuckbergeron commented on #68
+1

I believe this is the same issue I'm running into. I can do route generation on a specific resource if it's active, but as soon as I try to render one that's 'deleted?' it crashes with a routing error.

Basically, I want to show a list of archived (or deleted) records to the CMS user.

[2012-07-24 23:25] halorgium commented on #68
I added this to an initializer:

[code]

[2012-07-25 02:16] chuckbergeron commented on #68
Right on, I'll give it a shot!

...

Yep, that did it. Strange, when I dove into the source I couldn't see at a glance where 'persisted?' had been overriden.

[2012-07-30 15:13] christhekeele opened #74 "Optional deleted_by support"
You can't truly be paranoid without being able to go on witch hunts, commie cleansings, and general finger-pointing. It'd be nice to have built support for tracking who's responsible for deletions with some helpers, such as

[code]

[2012-07-30 16:24] christhekeele commented on #74
The main issue with this is keeping compatible within different auth frameworks. The behind-the-scenes of the `Paranoiac.first.delete` needs to know how to find the current user, and how to deal with anon deletions. I propose the following:

[code]

[2012-08-08 20:04] ghost commented on #61
Do you know when this will be added to an actual release of the gem other than the master branch?

[2012-08-15 11:18] ermolaev opened #75 "ActionView::Template::Error (missing attribute: deleted_at) in url_for or to_param"
[code]

[2012-08-19 15:28] pelargir commented on #71
+1

I'm having this problem too.

[2012-09-24 09:05] HoneyryderChuck opened #79 "Gemname should change"
Hi,

I have an issue with the name. Currently I am bundling a Sinatra Gem with AR3, and I need my models to be paranoid. And this gem has been doing the gem. Granted, it's still not deployed, maybe I'm forgetting some dependency. But if all goes well and it indeed all runs well, I don't see why I have to have a gem rails3-prefixed in a sinatra app. I can see the issues with the renaming (projects

[2012-09-25 12:25] HoneyryderChuck opened #80 "uniqueness validations not paranoid-implicit"
Greetings

I just realized that, even though a model is marked as paranoid, the uniqueness validations are not taking that into account explicitly:

[code]

first validation works. Second doesn't. I haven't tried with uniqueness => true, but chances are, it is also incorrect. Basically, I would like not to be explicit about deleted_at, since the model is already marked as paranoid, it should take

[2012-09-27 02:10] joshminnie commented on #68
+1

I was experiencing the same problem and the suggestion by halorgium fixed this for me as well.  I wonder if this is going to be corrected so that acts_as_paranoid can handle this situation more gracefully.

[2012-09-27 03:36] chuckbergeron commented on #68
Well, one of us could take the reins and contribute the patch back into master with a pull request. Perhaps I'll do that tomorrow...

[2012-10-08 13:56] paulkoegel commented on #62
having the same problem. would be awesome if this was fixed - cheers!

[2012-10-11 20:58] chuckg commented on #80
Sorry Tiago, could you please clarify your use case? I'm not sure the code you pasted came through correctly. Specifically, could you write out the model, the validations, and the queries that are returning the wrong results (and what was expected)? Thanks!

[2012-10-11 21:02] chuckg commented on #79
Your suggestion makes total sense, Tiago. Is your suggestion that the name be changed to "activerecord_acts_as_paranoid"? Definitely more clear, but perhaps a question best answered by the gem's original owner, @goncalossilva.

[2012-10-12 03:10] goncalossilva commented on #79
+1

What do you think we should do regarding rubygems? Just link the new version?

[2012-10-13 08:41] HoneyryderChuck commented on #80
ouch!! it really is totally wrong. I'm editing it right away.

[2012-10-13 08:51] HoneyryderChuck commented on #79
Well, since the gem is only for activerecord, I'd call it "ar_acts_as_paranoid", "ar_paranoid", a variation of the concept. I also don't know if you plan to extend the functionality to mongoid or DM ORMs, for which then the name would become also wrong (then only "acts_as_paranoid" would make sense, even though it might still be taken).

Regarding rubygems, I don't know if it is possible to "redir

[2012-10-19 16:36] goncalossilva commented on #79
Naming it "acts_as_paranoid" makes more sense to me. The problem is findability, most people come across this gem because they search for "acts_as_paranoid rails3" or something similar.

I could ping @technoweenie and ask him to mention this gem for Rails 3, though.

What do you think, @chuckg?

[2012-10-19 16:47] chuckg commented on #79
Another option is to keep this project up as a redirect to the new project.
Whether it redirects to an "acts_as_paranoid" (pending approval from
technoweenie) or "ar3_acts_as_paranoid" is up to you.  I'm of the opinion
that taking over the "acts_as_paranoid" name is the best solution. Releases
for different Rails versions are archive by rubygems (I think), so
maintaining a single master going forw

[2012-10-19 17:06] goncalossilva commented on #79
I agree that "acts_as_paranoid" is the best way to go. We (mainteners) just need to have the responsability of admiting that we won't always be available and encourage/accept PR and promote new maintainers from time to time to keep the wheels running while new AR versions come out.

I'll ping @technoweenie on Twitter.

[2012-10-20 14:04] technoweenie commented on #79
You guys can have the gem name if you want.  Just let me know who the new
owners are, and I'll give them access to
http://rubygems.org/gems/acts_as_paranoid

[2012-10-20 14:09] goncalossilva commented on #79
@technoweenie thanks!

Chuck and I are currently maintaining this gem. My email is goncalossilva at gmail.

[2012-10-20 22:32] technoweenie commented on #79
All set!

[2012-10-21 22:31] HoneyryderChuck commented on #79
Sorry for the late reply. acts_as_paranoid is the solution, my +1 on that. About keeping the name and using the same variant for rails 4, I think you can do as well by versioning, as most gems do. And it's still very out in the open whether great changes will be introduced for the AR4 version as there where from the rails2 to 3 jump.

[2012-10-22 06:50] goncalossilva commented on #79
@TiagoCardoso1983 yeah, I'll do that.

Thanks again, @technoweenie!

The current acts_as_paranoid gem is at 0.3.1. I think we could make the following releases:
0.8 -> our current 3.0 release
0.9 -> our current 3.1 release
1.0 -> our current 3.2 release

When Rails 4 comes out we just move to 1.1 (or 2.0).

I'll make the necessary changes over this week.

[2012-10-28 19:37] chuckbergeron commented on #68
tomorrow == a month. You know how it is.

I finally got around to patching this. Thanks to @halorgium for the patch!

https://github.com/goncalossilva/rails3_acts_as_paranoid/pull/82

[2012-10-29 01:04] halorgium commented on #68
Haha, awesome. :+1:

[2012-10-29 01:05] #68 closed, assigned to nobody

[2012-10-31 13:06] kelso opened #83 "Association with_deleted for HABTM"
I have a relation in model Advertiser

[code]

In advertiser's edit form, I have multiselect for :agency_ids and I would like to see deleted agencies here too (if they were assigned and then deleted)

[code]

I need something like

[code]

This work already for `has_many` and `belongs_to`, but it is missing for `has_and_belongs_to_many`.

[2012-11-06 15:38] perumal commented on #62
Even I have the same problem not sure how to go about it

[2012-12-09 16:10] goncalossilva commented on #47
I'm going to close this for now. _Please_ re-open this if you can still reproduce this with the latest version.

[2012-12-09 16:10] #47 closed, assigned to nobody

[2012-12-09 16:12] goncalossilva commented on #27
This should be currently supported.

[2012-12-09 16:12] #36 closed, assigned to nobody

[2012-12-09 16:14] goncalossilva commented on #58
Not sure why this is still opened, since the current version already does this. Lousy maintainer :p

[2012-12-09 16:14] #58 closed, assigned to nobody

[2012-12-09 16:15] #61 closed, assigned to nobody

[2012-12-09 16:18] #72 closed, assigned to nobody

[2012-12-11 07:55] sawada0903 opened #87 "_"
_

[2012-12-11 07:56] #87 closed, assigned to nobody

[2012-12-15 12:00] dexion opened #88 "Chicken && Egg"
After the latest update of this gem, I can't migrate my db. Error is:

[code]

Before update all works greate!

problem with devise route:

[code]

[code]

[code]

[2013-01-03 15:35] byroot opened #89 "Unable to update a deleted record"
Hi,

When I try to update a deleted record the guard sql clause get appended:

[code]

the only workaround I found is:

[code]

Am I missing something ?

Regards.

[2013-01-03 19:05] myKingEdem opened #90 "datetime instead of time as column type"
Shouldn't the default column type be datetime instead of time. That way you could retrieve all deleted records based on day, month, and year. instead of time. Who retrieves archived records  2 minutes  from now.  You retrieve archived records days, months, and even years from now!

[2013-01-04 19:55] billingb opened #91 "can't use :with_deleted on has_many"
When trying to use :with_deleted on a has_many I get an error.

Code:
has_many :phone_numbers, :autosave => true, :validate => true, :dependent => :destroy, :with_deleted => true

Error:
/sharehome/billinb/gem/gems/activesupport-3.2.8/lib/active_support/core_ext/hash/keys.rb:51:in `block in assert_valid_keys': Unknown key: with_deleted (ArgumentError)
    from /sharehome/billinb/gem/gems/activesup

[2013-01-05 00:11] chuckg commented on #89
Hi byroot.  Can I ask why you're opting to use `update_column` instead of `update_attribute` or `update_attributes`?  The following works:

[code]

Using `update_attribute` has the side-effect of saving the model, whether it's dirty or not.  If you're trying to use `update_column` for that reason, the solution you have proposed is the same way I would go about it. The offending code in `update_col

[2013-01-05 00:16] byroot commented on #89
hi @chuckg,

I'm using update_column because it's in a migration script in a rails app built upon a legacy database from a non-rails application. So this way i avoid all possible validation errors.

I didn't had the time to check for the issue when I saw it, but your answer seem logical. You should create a pull request with it.

If you are to lazy to write the tests let me know I'll do it.

Thank

[2013-01-05 00:19] byroot commented on #89
Oops I just figured out that you are one of the maintainers :)

[2013-01-05 00:22] chuckg commented on #89
I think fixing `update_column` is the way to go though, there's no reason for it not to work properly.  Though, you do skip validations with `update_attribute` as well.  From the documentation of `update_attribute`:

[code]

And `update_column`:

[code]

[2013-01-05 00:26] byroot commented on #89
Oh ! you're right. Thanks.

[2013-01-06 02:59] pranas commented on #27
It's not supported. I'm using monkey patch below to achieve desired behavior:

[code]

I don't think it's good though (recovery probably would fail but I'm not using it yet). Could you add support for boolean columns with true/false values?

[2013-01-06 16:36] alexparker commented on #91
+1
Yes, this is odd this doesn't work. In your readme.md file it definitely leads one to believe this would just work. Not sure if its a bug, or if it was not implemented.

[2013-01-06 16:50] alexparker commented on #83
You mention has_many works for you, it is not working for me. Can you help out?
#91

[2013-01-06 17:14] kelso commented on #91
You can use built-in scope "with_deleted".

[code]

[2013-01-06 17:18] kelso commented on #83
When I wrote it is working on has_many, I probably made a mistake.

You can use built-in scope "with_deleted".

[code]

And solution for my habtm select seems to be like this:

[code]

[2013-01-06 22:13] alexparker commented on #83
Ah ok. I have an association that is

[code]

and i am calling

[code]

but I would like to do

[code]

How can we get this working??

[2013-01-11 20:37] f3ndot commented on #79
I'd like to point out that the bundle post-install message from `rails3_acts_as_paranoid` shows:

[code]

But the gem `acts_as_paranoid` is clearly the old version from 2011... What gives?

[2013-01-11 20:42] goncalossilva commented on #79
That's expected :)

If you install ~>0.4, it the current version.

[2013-01-17 18:14] coneybeare commented on #21
For anybody that stumbles upon this, the correct solution is not to add the "acts_as_paranoid" call to the superclass, but for the subclasses. Then, set abstract_class on the superclass:

[code]

[2013-01-20 19:36] pranas commented on #27
@goncalossilva are you going to work on it? I'm willing to implement it and prepare a pull request.

[2013-01-21 09:42] goncalossilva commented on #27
@Pranas That would be great!

[2013-01-29 01:17] avit opened #97 "Method alias for `destroyed?` confuses Rails `persisted?`"
In some cases Rails decides what to do based on a record being `persisted?`, for example in [UniquenessValidator](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/validations/uniqueness.rb#L19). The specific situation I have is updating a deleted record that has a `:unique` validation.
- If the record is "persisted" and it exists, then it's unique.
- If the record is _not_

[2013-01-29 02:14] avit commented on #97
I was using an older version. Tested in isolation against the current 0.4.1 and this is working fine now. Closing as invalid.

[2013-01-29 02:14] #97 closed, assigned to nobody

[2013-02-01 09:12] AlexKovynev opened #98 "Acts_as_paranoid totally broke association save logic"
Unfortunately can't find how to fix

[code]

cr is saved, history is not, active-record does not generate INSERT (both models are acts_as_paranoid and have relations :has_many and :belongs_to)

[2013-02-01 10:38] AlexKovynev commented on #98
Sorry folks, my fault, broken monkey_patch

[2013-02-01 10:38] #98 closed, assigned to nobody

[2013-03-04 09:12] CarmelK opened #103 "Cannot save a deleted record"
I need to create a deleted object.
Code: record = Mymodel.create(:name => "obj_name", :deleted_at => DateTime.now)
results in: ActiveRecord::RecordNotSaved: You cannot call create unless the parent is saved

I use ruby 1.8.7, rails 3.1.11 and "rails3_acts_as_paranoid", "~> 0.1.4"
It did work fine with 'rails', '3.0.20' and "rails3_acts_as_paranoid", "~> 0.0.9"

[2013-03-05 12:54] stevschmid commented on #90
Agreed. I don't understand why time is the default type.

[2013-03-06 10:04] andr3w321 opened #104 "Stack level too deep when upgrading"
Could anyone provide instructions on how to upgrade my code to work with 0.4.0 from 0.2.2?  I was running 0.2.5.  Then I may have soft deleted a couple records (not totally sure, I didn't know this gem was enabled until recently).  When I went to update my Gemfile to 0.4.0 I kept getting

.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14: stack level too deep (SystemStackError)

And rails would

[2013-03-07 23:32] chuckg commented on #90
I agree! Pull request away. :shit:

[2013-03-15 17:25] taelor commented on #104
What version of Rails are you running?

[2013-03-15 20:18] andr3w321 commented on #104
Rails 3.2.3
I ended up leaving the gem at version 0.2.2 and using the above code which seemed to work.

[code]

[2013-03-15 20:18] #104 closed, assigned to nobody

[2013-03-15 20:29] taelor commented on #104
hey, just so you know, if you put "```" (three backticks) at the beggining and ending of code blocks, it will format them much nicer for you.

[code]

[2013-03-15 20:39] andr3w321 commented on #104
Thanks, updated.

[2013-03-27 13:03] rmello commented on #91
+1
It would be nice to allow "permanent" with_deleted associations.
In my case a User has_many Subscriptions (with_deleted) but has_one Subscription (only one subscription of each user may be active at any time) - So I would be able to do:
user.subscription (to return only the active one)
user.subscriptions (to return the active and the deleted ones)

[2013-03-30 14:31] pelargir commented on #62
+1

[2013-04-02 06:20] serggl opened #107 "deleted_after_time / deleted_before_time scopes always return empty set"
Here is an example:

[code]

 this will produce

[code]

As you can see from WHERE clause that it will never return values.

[2013-04-02 10:38] chrismhilton commented on #62
+1

[2013-04-03 15:18] chuckg commented on #107
Looks like you either:

a) have a fix for it already (in this pull request:
https://github.com/goncalossilva/rails3_acts_as_paranoid/pull/106/files)

or

b) created the bug on your local dev (in the very same pull request)

I'm not sure which without digging in further, but it seems like the former is true.  Would you mind testing,
fixing, and submitting as a separate pull request?

On Mon, Apr 1,

[2013-04-03 18:32] serggl commented on #107
I have fixed the pull request - the last commit was about this issue, but didn't either caused or fixed it

[2013-04-17 15:45] davidguthu commented on #71
Same.

[2013-04-30 17:26] silasb commented on #90
Look at https://github.com/radar/paranoia instead.  It uses `datetime` by default.

[2013-05-02 20:36] gugl commented on #71
+1
having the same problem

[2013-05-10 15:59] mitoyarzun opened #111 "Cannot destroy object if the model has default_scope with reference to another table"
How to reproduce:

[code]

When you try to destroy a Child, it can't because the default scope is not called:

[code]

Can anyone reproduce it?

Thanks.

[2013-05-22 21:32] avit opened #112 "Release 0.4.2 with fixes"
It would be appreciated to get a new gem out at least with the fix for the `persisted?` check (#94).

We've been leaning on Github for bundling everything for a while now.

[2013-05-22 23:13] alex-zige opened #113 "Syntactic Sugars"
Maybe try to extend ActiveSupport::Concern instead of using class_eval so heavily.   Good work though!

[2013-05-22 23:19] chuckg commented on #112
Sorry about that @avit, I don't have access to the RubyGems project to bundle and update it.  @goncalossilva would you mind updating the gem to `0.4.2` on RubyGems and/or adding me to the project?

[2013-05-22 23:21] chuckg commented on #113
Thanks @alex-zige.  While I agree that the use of `class_eval` isn't ideal, I don't think that the _style_ in which the gem is implemented necessarily warrants opening a ticket against it. That is, unless you have are having a particular problem as a result of it; do you?

[2013-05-22 23:26] alex-zige commented on #113
I was just looking into the gem source code, haven't found any particular problems yet. but will keep you posted. Just on the note, AS::Concern is more rails-friendly way to deal with extends and open classes nowadays. All good.

[2013-05-23 07:46] goncalossilva commented on #112
@chuckg which email should I add to the RubyGems project?

[2013-05-23 07:54] goncalossilva commented on #112
Released ;-)

[2013-05-23 07:54] #112 closed, assigned to nobody

[2013-05-23 13:38] chuckg commented on #112
@goncalossilva I don't seem to be able to update the gem because I'm only listed as an author, not an "owner". My username is "chuckg" on RubyGems.

[2013-05-23 13:47] #113 closed, assigned to nobody

[2013-05-23 13:57] goncalossilva commented on #112
@chuckg Ah, I see. @technoweenie, could you add ownership to @chuckg on rubygems?

[2013-05-23 15:37] technoweenie commented on #112
Sure.  Added @chuckg to [acts as paranoid](http://rubygems.org/gems/acts_as_paranoid).

Nice avatar :)

[2013-05-23 15:57] goncalossilva commented on #112
@technoweenie Great, thanks!

[2013-05-23 17:46] avit commented on #112
Thank you guys!

[2013-05-31 06:37] tkupari commented on #62
+1

[2013-06-05 02:15] eagerwombat opened #114 "Is there a straightforward way to toggle with_deleted in a <Controller>#index list (Not really an Issue. More of a Question)"
In other words, an alternative to calling the #with_deleted method before the find call.
Thanks

[2013-06-05 04:02] chuckg commented on #114
In what context do you not have access to the find command? In a totally contrived example:

[code]

[2013-06-05 04:02] #114 closed, assigned to nobody

[2013-06-05 18:31] eagerwombat commented on #114
Thanks for the quick response!

[2013-06-06 14:08] zlx commented on #71
+1 need fixed

[2013-06-13 20:33] victorhazbunanuff opened #116 "Active Record Callbacks not working"
Rails 3.2.13 has deprecated before_destroy callbacks so this line:
https://github.com/goncalossilva/acts_as_paranoid/blob/rails3.2/lib/acts_as_paranoid/core.rb#L107 will try to run destroy callbacks but it not work because the destroy callbacks are deprecated. instead of:

[code]

do this:

[code]

Because it is not a destroy action, it is an update.

This is my suggestion https://gist.github.com/

[2013-06-15 17:34] zlx commented on #71
I make a attempt by override [JoinAssociation#build_constraint](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/associations/join_dependency/join_association.rb#LC145).
It Add `deleted_at is null` to join condition, and may solve the problem

[2013-07-01 11:03] russellbrown opened #118 "Dirty tracking not working in after_recover callback"
Dirty tracking doesn't seem to work properly in the after_recover callback:

[code]

Is this expected behaviour?  It feels like I should be able to access the old deleted_at timestamp in the after_recover callback because it is still part of the record's lifecycle.

[2013-07-09 23:22] srb- opened #119 "acts_as_tenant gem breaks Recover on my associations"
Great gem!

I'm running into an issue where I can destroy models and their associations just fine, but when I do a recover on the parent it is not recovering the children as well. The parent is recovered just fine.

In my sandbox I have narrowed this behavior down to a conflict with the 'acts_as_tenant' gem.

Basically when I have my Child model roughly:

[code]

it is NOT recovered when recover t

[2013-07-24 12:55] tranngocsam opened #120 "validates_uniqueness_of_without_deleted does not work"
It's weird that  validates_uniqueness_of_without_deleted does not work on Rails 3.2 on my local, I use PostgreSQL 9.2 database

Here is in my user model
validates_as_paranoid
  validates_presence_of :username
  validates_uniqueness_of_without_deleted :username
  validates_length_of :username, :within => 3..20

  validates_presence_of :email, :on => :create
  validates_uniqueness_of_without_deleted

[2013-07-29 11:05] ami1906 opened #121 "has_many through relation not getting affected in rails 3.2.13"
This is my scenario.
class Message <  ActiveRecord::Base
      belongs_to :user, :foreign_key => "from_user_id"
      has_many :message_recipients, :include => [:user], :dependent => :destroy
      has_many :recipients, :through => :message_recipients, :source => :user
end

class MessageRecipient < ActiveRecord::Base
  belongs_to :user
  belongs_to :message, :include => :message_recipients
end

cl

[2013-08-03 07:37] tranngocsam commented on #120
It's because of my authlogic, it fixed it by set validate_email_field to false.

[2013-08-03 07:37] #120 closed, assigned to nobody

[2013-08-07 08:57] gtournie opened #122 "on new_record has_many association + with_deleted scope returns all records"
Hi,

Let's assume we have theses 2 classes:

Class Thing < ActiveRecord::Base
  acts_as_paranoid
end

Class Example < ActiveRecord::Base
  has_many :things
end

Now calling Example.new.things.with_deleted returns all Thing records in db, instead of none...
SQL: "SELECT `things`.\* FROM `things` WHERE `things`.`example_id` IS NULL"

[2013-08-13 06:06] christopherchiu commented on #116
@victorhazbunanuff Has before_destroy really been deprecated? I haven't been able to find any information on that. Can you link me to some documentation? Thank you.

[2013-08-13 15:25] victorhazbunanuff commented on #116
@christopherchiu http://api.rubyonrails.org/classes/ActiveRecord/Callbacks.html before_destroy method is not there

[2013-08-13 16:48] christopherchiu commented on #116
I think that list is mainly to illustrate the order of the callbacks in relation to creation and validation. You can see before_destory getting referenced to throughout the document. Also, I just tested it on a rails app and it seems to be calling it correctly. Have you tested it yourself?

[2013-08-13 16:55] victorhazbunanuff commented on #116
Yes, I tested in an app, and it does not run the before destroy callback, I guess that problem is not related to the gem because the before_destroy callback is not deprecated as I think it was. Lets just close this issue, and thanks!

[2013-08-13 17:12] christopherchiu commented on #116
All right. I hope you find the source of your issues. Thanks.

[2013-08-13 17:14] christopherchiu commented on #121
That does seem like a very weird behavior. Let me look into it.

[2013-08-13 20:11] christopherchiu opened #124 "Add mass_assignable option to documentation"
acts_as_paranoid :mass_assignable => true

[2013-08-13 20:54] #116 closed, assigned to nobody

[2013-08-13 21:16] christopherchiu commented on #103
@CarmelK Sorry for the late reply, I just joined this project. As for your issue, I'm surprised you're not getting a can't mass assign protected attribute error. Are you still experiencing this issue?

[2013-08-14 07:37] CarmelK commented on #103
Now I use ruby 1.9.3 , acts_as_paranoid 0.4.2, rails 3.2.13 and I don't seem to get any errors, although when trying to save the record , it's being saved without the deleted_at attribute.

[2013-08-14 07:45] christopherchiu commented on #103
I'm using the same exact things. Are you still trying to mass assign the field? Because you won't be able to do that. Also, why are you initializing the model with the deleted_at attribute?  Are you trying to create something that is hidden from the get go ?

[2013-08-14 08:43] CarmelK commented on #103
I was trying to replicate the error incorrectly in the console, using mass assign.
I am migrating data from one web app to another, some records are deleted, so I am saving them with deleted_at being some date. I stopped copying those records because of the error. I just checked the migration again and it works.
Thanks @christopherchiu

[2013-08-14 16:53] christopherchiu commented on #103
Great! I'm glad it worked out. We just recently pulled in a change that allows you to mass assign deleted_at. If you really need that functionality I suggest you pull directly from branch 3.2 in your gemfile.

[2013-08-14 16:53] #103 closed, assigned to nobody

[2013-08-15 17:56] christopherchiu commented on #89
@chuckg Do we want to keep this open?

[2013-08-15 17:59] christopherchiu commented on #88
@dexion Hi, are you still getting this issue? I wasn't able to reproduce it.

[2013-08-16 17:36] chuckg commented on #89
Nope. We can either create a separate feature issue that's more specific about what needs to be added/done or wait and see if someone is interested enough to create a pull request with a fix. Thank you for helping!

[2013-08-16 17:36] #89 closed, assigned to nobody

[2013-08-18 19:21] xhoy commented on #74
+1

[2013-08-19 18:18] garyharan commented on #124
What would that do exactly?

[2013-08-19 18:32] garyharan opened #125 "acts_as_paranoid and attr_accessible order affects MassAssignementSecurity::Error"
In rails 3.2.14 if we have acts_as_paranoid after the attr_accessible call we do not get ActiveModel::MassAssignmentSecurity::Error when we expect them.

[2013-08-19 18:34] christopherchiu commented on #125
Interesting. Has your experience been that if you have acts_as_paranoid after attr_accessible then when you do a mass assignment that includes deleted_at it will proceed without giving you a mass assignable security exception for the column deleted_at?

[2013-08-19 18:52] garyharan commented on #125
The example I have in mind is that with attr_accessible before acts_as_paranoid I can do the following:

[code]

With attr_accessible after acts_as_paranoid this is what happens (expected behavior):

[code]

[2013-08-27 05:37] christopherchiu commented on #125
Ahh found it.

[code]

This sets the column to protected and everything else to accessible. I'll try to get to it soon.

[2013-08-30 00:01] christopherchiu commented on #125
@garyharan I just pushed a fix for this. Let me know if it works for you.

[2013-08-30 16:05] garyharan commented on #125
Just tested with:

[code]

And it worked as expected!

[2013-08-30 16:50] christopherchiu commented on #125
Awesome! Thanks for reporting the issue.

[2013-08-30 16:50] #125 closed, assigned to nobody

[2013-09-03 14:42] garyharan commented on #125
@christopherchiu thanks for the fix!  Do you know which version it will be live in?

[2013-09-10 21:06] alexisraca commented on #111
- 1 to this, error on PG, it says the refference does not exist when it tries to reorder, is there a workaround?

[2013-09-20 13:26] garyharan commented on #125
@christopherchiu will you guys release a version 0.4.3 with this fix any time soon?

[2013-09-21 11:27] pannous opened #129 "paranoiac.destroy! immediate:true"
suggestion:

 make it possible to destroy records immediately:
paranoiac.destroy! immediate:true

 instead of paranoiac.destroy!.destroy! which is more costly for the database

[2013-10-01 05:36] christopherchiu commented on #129
Calling destroy! should immediately delete the record. The destroy call requires 2 calls, but the destroy! does so immediately.

Let me know if that's not what you're experiencing.

[2013-10-09 23:19] #129 closed, assigned to nobody

[2013-10-29 17:48] markedmondson commented on #71
This solution works in theory but kills the ability to then query .with_deleted and lose the join constraint.

The ideal fix would be to throw a with_deleted option onto the has_many association and use that to optionally add the constraint.

[2013-11-12 18:34] timscott commented on #62
Just hit this today.  +1

[2013-11-15 11:50] arius opened #131 "has_one association and with_deleted"
Hi, pls,

how can i get deleted record via has_one association?

i try my_association_with_deleted but it's undefined method
i try to insert :with_deleted => true to definition of association but: ArgumentError: Unknown key: with_deleted
i try my_association.with_deleted but it's NoMethodError: undefined method `with_deleted' for nil:NilClass

Some other possibility?
Thanks

[2013-11-16 00:59] markedmondson commented on #89
I just got hit by this. Again, while migrating also so was using update_column to skip callbacks.

The issue is that calling update_column always suffixes the paranoid attribute and you can't update a column on a deleted record.

[2013-11-19 06:12] tak2siva commented on #131
has_one, has_many are not supported!

What you can do is call your 'has_one' or 'has_many' associations like

Model.association.with_deleted

[2013-11-19 09:01] arius commented on #131
But it's not useful if i want to use Ransack for searching/sorting via association in deleted records (i can't create my own scope ignoring acts_as_paranoid default scope, can i? ). Any idea?

[2013-12-04 09:41] Morred opened #132 "with_deleted doesn't seem to work with belongs_to"
I have two models with a belongs_to - has_many relationship which you can see below (I included only the parts of the code relevant to this question since the models are quite big):

product.rb

`class Product < ActiveRecord::Base
attr_accessible :title, :description, [...]
has_many :test_cycles
acts_as_paranoid
end`

test_cycle.rb

`class TestCycle < ActiveRecord::Base
   belongs_to :product, wit

[2013-12-05 10:17] arius commented on #132
I have the same problem

[2014-01-03 03:45] nfriend21 commented on #132
me too

[2014-01-03 04:57] nfriend21 opened #134 "association does't work as described in readme."
Plain and simple, this doesnt work:

class Parent < ActiveRecord::Base
    has_many :children, :class_name => "ParanoiacChild"
end

class ParanoiacChild < ActiveRecord::Base
    belongs_to :parent
  belongs_to :parent_including_deleted, :class_name => "Parent", :with_deleted => true
  # You cannot name association *_with_deleted
end

parent = Parent.first
child = parent.children.create
parent.dest

[2014-01-26 15:04] findchris commented on #134
Was just going to post this.

Also, the classes don't include the `acts_as_paranoid` macro.  Do both classes need that declaration?  Must their paranoid `column_name`s match up?

Thanks.

[2014-03-06 14:18] andremedeiros commented on #134
@nfriend21, @findchris:

Both the parent and the child need to include the `acts_as_paranoid` macro, seen as it's what is adding the logic to the scopes, and what allows the `:with_deleted => true` parameter.

[2014-03-06 14:23] andremedeiros commented on #132
@Morred, @arius see my answer on issue #134.

More specifically, the `:with_deleted => true` parameter isn't working because you're running the `acts_as_paranoid` macro after trying to define a relationship that requires it.

In your case,

[code]

should work.

[2014-04-02 21:11] tranvictor commented on #88
I cant reproduce this issue too, @dexion is this issue still happening for you? You should close this issue if it's not.

[2014-04-03 01:44] dexion commented on #88
Sorry, I don't use acts_as_paranoid. I use paranoia instead. After so many time I close this ticket because it irrelevant

[2014-04-03 01:44] #88 closed, assigned to nobody

[2014-05-12 18:41] zzak commented on #79
Marking this as resolved, we already have 1 gem which is developed here.

[2014-05-12 18:41] #79 closed, assigned to nobody

[2014-05-12 22:29] zzak commented on #134
Please try @andremedeiros's advice, if you are still experiencing issues feel free to re-open the ticket.

[2014-05-12 22:29] #134 closed, assigned to nobody

[2014-05-12 22:29] zzak commented on #132
Please try @andremedeiros's suggestion, and re-open the ticket if you're still experiencing difficulty.

[2014-05-12 22:29] #132 closed, assigned to nobody

[2014-05-12 22:43] zzak commented on #122
In this case I think both classes need `acts_as_paranoid`, please try it with the latest version (ie: `gem install acts_as_paranoid --pre`) and let me know if that works for you.

[2014-05-12 22:43] #122 closed, assigned to nobody

[2014-05-12 22:45] zzak commented on #131
Unfortunately without a patch I can't accept this feature, please try to write a patch against master, or technoweenie/acts_as_paranoid@master branch.

[2014-05-12 22:45] #131 closed, assigned to nobody

[2014-05-12 23:05] zzak commented on #118
Could you help write a failing test?

cc @andremedeiros

[2014-05-12 23:26] zzak commented on #111
I think this is a duplicate of #62

[2014-05-12 23:26] #111 closed, assigned to nobody

[2014-05-12 23:57] zzak commented on #119
Hello @stephenbeath henbeath,

Thanks for trying the gem, if you could please give our pre-release a try and let me know any issues you run into.

Please re-open the ticket if you're still having difficulties.

[2014-05-12 23:57] #119 closed, assigned to nobody

[2014-05-13 00:15] zzak commented on #43
We don't have any plans to support Rails 3.1, please try an older tag of the gem/repo or upgrade.

Thanks!

[2014-05-13 00:15] #43 closed, assigned to nobody

[2014-05-13 01:25] zzak commented on #60
You need to include `:deleted_at` in the select query.

Please re-open the issue if you continue to experience difficulty.

[2014-05-13 01:25] #60 closed, assigned to nobody

[2014-05-13 01:29] zzak commented on #74
I cannot accept this feature without a patch.

Please submit a pull request against technoweenie/acts_as_paranoid@master

[2014-05-13 01:29] #74 closed, assigned to nobody

[2014-05-13 01:46] zzak commented on #75
You need to include `:deleted_at` in the select query.

[2014-05-13 01:46] #75 closed, assigned to nobody

[2014-05-13 01:52] zzak commented on #80
I'm honestly a little paranoid about this issue, and think we should close it.

Please re-open if you're still experiencing difficulty.

[2014-05-13 01:52] #80 closed, assigned to nobody

[2014-05-13 02:33] zzak commented on #90
Please feel free to submit a patch against technoweenie/acts_as_paranoid@master branch.

Thanks!

[2014-05-13 02:33] #90 closed, assigned to nobody

[2014-05-13 02:41] zzak commented on #83
Please include `:deleted_at` in your select query.

Thanks, and please re-open if you continue to experience difficulty.

[2014-05-13 02:41] #83 closed, assigned to nobody

[2014-05-25 22:06] zzak commented on #91
currently there is no support for default scope with_deleted, but we're looking into adding it.

there's a duplicate ticket and patch submitted to support this, so i'm closing this one.

[2014-05-25 22:06] #91 closed, assigned to nobody

[2014-06-30 06:28] AknEp commented on #62
+1

[2014-08-11 04:36] zzak commented on #71
We are no longer maintaining this fork, please resubmit this to the upstream: https://github.com/technoweenie/acts_as_paranoid

[2014-08-11 04:36] #71 closed, assigned to nobody

[2014-10-30 01:55] felipeclopes commented on #132
What if `acts_as_paranoid` is not added to TestCycle, but just to Product. Is it possible just the following?

[code]

[2014-11-04 22:53] andremedeiros commented on #132
(sorry it took so long to reply)

`with_deleted` is an acts_as_paranoid specific option, so no, that wouldn't work.

[2015-03-01 20:25] joshuapinter commented on #116
@victorhazbunanuff Just a though, but it might be that you are calling `#delete` instead of `#destroy` on your object, which doesn't call any callbacks. It caught me off guard as well.

[2015-03-31 16:43] nfriend21 commented on #62
+1

[2016-02-23 15:14] mamantoha commented on #62
:+1:

[2017-03-03 21:28] avegancafe commented on #89
Would very much like to reopen this issue, did anyone find a fix?